body {
	background: #333;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
article {
	align-content: center;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 100px;
	margin-bottom: 0;
	text-align: center;
}