body {
	background: #333;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
article {
	align-content: center;
	text-align: center;
	width: 100%;
	display: flex;
}

h1 {
	text-align: center;
}